---
layout: page
title: Projects
---
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            {% if post.hidden != true %}
                <div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                        <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                        <h3 class="title">{{ post.title }}</h3>
                    </a>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</section>


<section class="description">
        <p>This page showcases various projects I've worked on. Each project represents a unique challenge and opportunity for learning. Feel free to explore and learn more about them!</p>
    </section>



<section class="list">
    <!-- GH (GitHub) Link -->
    <div class="item">
        <a class="url" href="https://www.github.com">
            <h3 class="title">GH for testing</h3>
        </a>
    </div>

    <!-- LR (Linear Regression) Link -->
    <div class="item">
        <a class="url" href="https://your-gh-pages-url/linear-regression.html">
            <h3 class="title">LR</h3>
        </a>
    </div>
