---
layout: page
title: Projects
---
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            {% if post.hidden != true %}
                <div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                        <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                        <h3 class="title">{{ post.title }}</h3>
                    </a>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</section>


<section class="description">
        <p>This page showcases various business data analysis projects I've worked on. Each project represents a unique challenge and opportunity for learning. Feel free to explore and learn more about them!</p>
    </section>



    <!--  (Project) Link -->
<div class="item">
    <a class="url" href="https://liamleelym.github.io/Sentiment-Emotion-Analysis-in-Python/">
        <h3 class="title" style="font-variant: small-caps;">Machine Learning - Sentiment Analysis & Emotional Analysis</h3>
            <aside><time datetime=="2024-04-18T19:16:53+08:00">April 2024</time></aside>
    </a>
</div>

